main { width: 100%; background: #a08bda;display: flex;min-height: 100vh; }
* { padding: 0; margin: 0; box-sizing: border-box; }
.formbxmain { background: #aa95e5;
    padding: 14px;
    width: 428px;
    max-width: 100%;
    border-radius: 3px;margin: auto; }
.cardformbx {
    background: #fff;
    margin: auto;
    padding: 25px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
.payementtitle p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 40px;
}
.inputbx { width: 100%; margin: 0 0 15px; }
.inputbx label {     
    width: 100%;
    margin: 0 0 5px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #979797;
    font-size: 14px; }
.inputbx input { width: 100%; padding: 10px;border: 2px solid #ccc; }
.inputbx input::placeholder { color: #ccc; }
.inputbx input:focus-visible {
    outline: auto 1px #62d19e;;
}
.inputbx button {
    background: #62d19e;
    border: 0;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    padding: 13px 0px;
    font-weight: 600;
    font-size: 17px;
}
.ccvexpiery { width: 100%; display: flex; justify-content: space-around; }
.ccvexpiery .inputbx { justify-content: space-between; 
    /* flex: 1; */
     width: 48%;
    display: inline-table; }
.payicon { width: 12px;
    display: inline-flex;
    margin: 0 3px 0 0; }
.payicon img {
    width: 100%;
}
.inputbxcard input { background: url(./images/cardicon.png); background-size: 20px;
    background-position: 98% 10px;
    background-repeat: no-repeat; }




